@import "vars";

#menu {
  @include flex-horizontal-vcentered();
  padding: 20px;
  list-style: none;
  > * {
    width: 300px;
    text-align: center;
  }
  > * + * {
    margin-left: 50px;
  }
}

.l-menu-item {
  color: $color-primary;

  &:hover, &.l-menu-item-active {
    color: $color-accent;
    font-weight: bold;
    text-decoration: none;
  }
}
