<div class="concept-details">
  <p>Très difficile d'intégrer le besoin exprimé avec angular material. Cela relève plus de la bricole que d'un comportement générique et que tu peux mettre en place une et une seule fois.
  </p>
  <p>Pour réussir à récupérer le focus sur les suivants / précédents, il faut forcer les mat tab à réinstancier leur contenu au chargement. Pour ce faire
    il faut mettre un ng-template de premier niveau dans les mat-tab associé à la directive matTabContent. Sur le premier champs de chaque mat-tab, il faut apposer la directive appSetFocus
    qui permet de mettre le focus sur ce champs lors de son chargement.
  </p>
  <p>Je creuse encore pour trouver mieux...</p>
</div>
<div class="concept-example">
    <mat-tab-group id="mat-tab-group" [(selectedIndex)]="selectedTab">
      <mat-tab label="Identité" labelClass="mat-tab-focus">
          <div>
            <label for="">Champs 1</label>
            <input type="text">
          </div>
          <div>
            <label for="">Champs 2</label>
            <input type="text">
          </div>
          <div>
            <label for="">Champs 3</label>
            <input type="text">
          </div>
          <div>
            <label for="">Champs 4</label>
            <input type="text">
          </div>
          <button (click)="setTab(1)">Suivant</button>
      </mat-tab>
      <mat-tab label="Adresse" labelClass="mat-tab-focus">
          <div>
            <label for="">Champs 1</label>
            <input type="text">
          </div>
          <div>
            <label for="">Champs 2</label>
            <input type="text">
          </div>
          <div>
            <label for="">Champs 3</label>
            <input type="text">
          </div>
          <div>
            <label for="">Champs 4</label>
            <input type="text">
          </div>
          <button (click)="setTab(0)">Précédent</button>
      </mat-tab>
    </mat-tab-group>
</div>

