
.icon-user:before { content: '\e800'; } /* '' */
.icon-cog:before { content: '\e801'; } /* '' */
.icon-th-list:before { content: '\e802'; } /* '' */
.icon-arrow-down:before { content: '\e803'; } /* '' */
.icon-building:before { content: '\e804'; } /* '' */
.icon-sort:before { content: '\e805'; } /* '' */
.icon-filter:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-next:before { content: '\e808'; } /* '' */
.icon-arrow-up:before { content: '\e809'; } /* '' */
.icon-carret-left:before { content: '\e80a'; } /* '' */
.icon-carret-right:before { content: '\e80b'; } /* '' */
.icon-before:before { content: '\e80c'; } /* '' */
.icon-clear:before { content: '\e80d'; } /* '' */
.icon-village:before { content: '\e80f'; } /* '' */
.icon-pollutant:before { content: '\e810'; } /* '' */
.icon-sensors:before { content: '\e811'; } /* '' */
.icon-email:before { content: '\e812'; } /* '' */
.icon-domain:before { content: '\e813'; } /* '' */
.icon-none:before { content: '\e814'; } /* '' */
.icon-paid:before { content: '\e815'; } /* '' */
.icon-construction:before { content: '\e816'; } /* '' */
.icon-transit:before { content: '\e817'; } /* '' */
.icon-medias:before { content: '\e818'; } /* '' */
.icon-check-circle:before { content: '\e81a'; } /* '' */
.icon-layers:before { content: '\e81b'; } /* '' */
.icon-pin:before { content: '\e81c'; } /* '' */
.icon-center-focus:before { content: '\e81d'; } /* '' */
.icon-file-download:before { content: '\e81e'; } /* '' */
